.map-section-container {
    background: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 4rem 0;
    padding: 1rem
}

.leaflet-container{
    width: 80vw;
    height: 60vh;
    z-index: 1;
    border: 5px solid #51A6D8;
    border-radius: 10px;
}