.header-container {
    background: #FFFFFF;
    font-family: "Open Sans", sans-serif;


    .logo-container {
        width: 100%;
        height: auto;

        .background-header {
            display: flex;
            z-index: 0;
            width: 100%;
            height: auto;
        }
    }

    .container-text {

        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            margin-top: 4rem;
            font-size: 1.875rem;
            font-weight: 700;
        }

        p {
            text-justify: distribute-all-lines;
            font-size: 1rem;
            text-align: left;
            margin: 2rem 4rem;
        }

        @media(max-width: 580px){
            p {
                margin: 1.5rem 2rem;
            }
        }
    }

}