.email-section-container {
    background: #FFFFFF;
    font-family: "Open Sans", sans-serif;


    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .formular-container{
        display: flex;
        flex-direction: column;
    }
}